#stats {
    background-image: url(img/slider.jpg);
    background-size: 100em;
    background-repeat: no-repeat;
}

h1 {
    font-size: 2.5em;
    font-weight: 300;
}

p {
    font-size: 1.5em;
}

.carousel .carousel-item {
    width: 300px;
    height: 300px;
    top: 60px;
}

.navbar-fixed {
    top: 0;
    position: fixed;
}

#btnurgent {
position: absolute;
top: 70%;
left: 50%;
transform: translate(-50%, -50%);
}

.btn-large {
  color: black;
}

.footerp {
  font-size: 1em;
}

#push {
  height: 100px;
}

#push nav {
  height: 7em;
  line-height: 7em;
}

#push nav li a {
  font-size: 1.6em;
}

.phone a {
  font-size: 1.7em;
}

#navbardeux {
  background-color: white;
}

.darklink {
  color: black;
}

#scrollspy {
  background-color: grey;
}
